li a {
  margin-left: 10px;
  position: relative;
}
li a:after {
  display: block;
  content: "";
  position: absolute;
  top: 100%;
  width: 0%;
  left: 0;
  height: 5px;
  background-color: #ed1c24;
  transition: all 0.2s ease-in-out;
}
.active {
  color: #111;
  font-weight: 700;
}
li a:hover:after,
.active:after {
  width: 100% !important;
}
