<footer class="container-fluid bg-dark pt-5 px-sm-3 px-md-5">
  <div class="row">
    <div class="col-lg-3 col-md-6 mb-5">
      <a href="index.html" class="navbar-brand">
        <h3 class="mb-2 mt-n2 display-5 text-uppercase"><span class="text-primary">News</span>Room</h3>
      </a>

      <p class="text-white">Volup amet magna clita tempor. Tempor sea eos vero ipsum. Lorem lorem sit sed elitr sed kasd
        et</p>
      <div class="d-flex justify-content-between mt-4">
        <a class="btn btn-outline-danger  text-center  px-0" style="width: 38px; height: 38px;" href="#"><i
            class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-danger  text-center  px-0" style="width: 38px; height: 38px;" href="#"><i
            class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-danger  text-center  px-0" style="width: 38px; height: 38px;" href="#"><i
            class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-outline-danger  text-center  px-0" style="width: 38px; height: 38px;" href="#"><i
            class="fab fa-instagram"></i></a>
        <a class="btn btn-outline-danger  text-center  px-0" style="width: 38px; height: 38px;" href="#"><i
            class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <h4 class="font-weight-bold mb-4 text-white">Categories</h4>
      <div class="d-flex flex-wrap m-n1 links">
        <a href="" class="text-white">Politics</a>
        <a href="" class="text-white">Business</a>
        <a href="" class="text-white">Corporate</a>
        <a href="" class="text-white">Sports</a>
        <a href="" class="text-white">Health</a>
        <a href="" class="text-white">Education</a>
        <a href="" class="text-white">Science</a>
        <a href="" class="text-white">Technology</a>
        <a href="" class="text-white">Foods</a>
        <a href="" class="text-white">Entertainment</a>
        <a href="" class="text-white">Travel</a>
        <a href="" class="text-white">Lifestyle</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <h4 class="font-weight-bold mb-4">Tags</h4>
      <div class="d-flex flex-wrap m-n1 links">
        <a href="" class="text-white mr-2">Politics</a>
        <a href="" class="text-white mr-2">Business</a>
        <a href="" class="text-white mr-2">Corporate</a>
        <a href="" class="text-white mr-2">Sports</a>
        <a href="" class="text-white mr-2">Health</a>
        <a href="" class="text-white mr-2">Education</a>
        <a href="" class="text-white mr-2">Science</a>
        <a href="" class="text-white mr-2">Technology</a>
        <a href="" class="text-white mr-2">Foods</a>
        <a href="" class="text-white mr-2">Entertainment</a>
        <a href="" class="text-white mr-2">Travel</a>
        <a href="" class="text-white mr-2">Lifestyle</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5 ">
      <h4 class="font-weight-bold mb-4 ">Quick Links</h4>
      <div class="d-flex flex-column links justify-content-start links">
        <a class="text-white mb-2" href="#"> About</a>
        <a class="text-white mb-2" href="#">Advertise</a>
        <a class="text-white mb-2" href="#">Privacy &amp; policy</a>
        <a class="text-white mb-2" href="#">Terms &amp;
          conditions</a>
        <a class="text-white" href="#">Contact</a>
      </div>
    </div>
  </div>
</footer>